@model HotelViewModel
@{
    string cssClass = Model.Id == 0 ? "success" : "warning";
    string cardTitle = Model.Id == 0 ? @SharedLocalizer["AddNewHotel"] : SharedLocalizer["EditHotel"];
    string cardTitleDescription = Model.Id == 0 ? @SharedLocalizer["AddNewHotel"] : @SharedLocalizer["EditCurrentHotel"];
    ViewData["Title"] = @SharedLocalizer["AddNewHotel"];

    var extensionsAll = "jpeg, jpg, png";
    var extensions = extensionsAll.Split(",").Select(x => x.Trim()).ToArray();
}

@section Styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/theme/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/theme/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- File input style-->
    <link href="~/theme/plugins/fileinput/css/fileinput.min.css" rel="stylesheet" />
     
    <!-- jQuery Confirm -->
    
    }

<!-- Content Header (Page header) -->
<section class="content-header">
    <!-- Content header elements here -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12" id="left-side-bar">
                <div class="card card-@cssClass">
                    <div class="card-header">
                        <h3 class="card-title">@cardTitleDescription</h3>
                        <!-- Card header elements here -->
                    </div> <!--/.card-header -->

                    <form id="HotelForm" asp-action="AddOrEditHotel" asp-controller="Hotels" asp-area="Admin" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Id" />
                        <div class="card-body">
                            <!-- Rreshti Pare: Name - Location-->
                            <div class="row">
                                <!-- Name -->
                                    <div class="col-sm-6">       
                                        <div class="form-group">
                                            <label>@SharedLocalizer["Name"] *</label>
                                            <div class="input-group">
                                                <input type="text" asp-for="Name" class="form-control help-sidebar" data-title="User Name" data-description="Enter name..." placeholder="Enter name...">
                                                <div class="input-group-append ">
                                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Location -->
                                    <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>City</label>
                                        <select asp-for="Location" asp-items="Model.Locations" class="form-control select2" style="width: 100%;">
                                        </select>
                                    </div>
                                    </div>
                            </div> <!-- end rreshti pare -->

                            <!-- Rreshti dyte Yjet & Description-->
                            <div class="row">
                                <!-- Description -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea asp-for="Description" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                                    </div>
                                </div>

                                <!-- Stars-->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Stars</label>
                                        <select asp-for="Stars" class="form-control select2" style="width: 100%;">
                                            <option selected="selected">1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div> <!-- end of Reshti dyte -->

                        <!-- Rreshti Trete: RoomFor2 - RoomFor3 - RoomFor4 -->
                        <div class="row">
                           <!-- RoomFor2 -->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>@SharedLocalizer["RoomFor2"] *</label>
                                <div class="input-group">
                                    <input type="text" asp-for="RoomFor2" class="form-control help-sidebar" data-title="roomFor2" data-description="Enter price..." placeholder="Enter price...">
                                    <div class="input-group-append ">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- RoomFor3 -->
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>@SharedLocalizer["RoomFor3"] *</label>
                                    <div class="input-group">
                                        <input type="text" asp-for="RoomFor3" class="form-control help-sidebar" data-title="roomFor3" data-description="Enter price..." placeholder="Enter price...">
                                        <div class="input-group-append ">
                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Room for 4-->
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>@SharedLocalizer["RoomFor4"] *</label>
                                    <div class="input-group">
                                        <input type="text" asp-for="RoomFor4" class="form-control help-sidebar" data-title="roomFor4" data-description="Enter price..." placeholder="Enter price...">
                                        <div class="input-group-append ">
                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div> <!-- end rreshti pare -->
              </div> <!-- end of class="card-body" -->

                    
                   <div class="card-footer">
                       <button type="submit" class="btn btn-@cssClass">@SharedLocalizer["Submit"]</button>
                   </div>
                       
                </form>
                </div> <!-- /.card -->
            </div> <!-- /.id="left-side-bar" -->
        </div> <!-- end of row -->
    </div> <!-- /.container-fluid -->
</section>
<!-- /.content -->
@section Scripts{
    <!-- jquery-validation -->
    <script src="~/theme/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/theme/plugins/jquery-validation/additional-methods.min.js"></script>

    <!-- File Input -->
    <script src="~/theme/plugins/fileinput/js/fileinput.min.js"></script>
    }
