@model ReservationViewModel
@{
    ViewData["Title"] = "ConfirmReservation";
}

<section class="content">
    <div class="container">

        <div class="text-center wow fadeInUp mt-4" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Reservation to be Confirmed..</h6>

        </div>
        <div class="row mt-5 mb-5">
        @*    <div class="col-md-1"></div>*@
            <div class="col-md-12" id="left-side-bar">
                <div class="card shadow" style="border-top-right-radius:15px;" >
                    <div class="card-header bg-success" style="border-bottom-left-radius: 20px; border-top-right-radius:15px;">
                        <h3 class="card-title text-white">Reservation Confirmation</h3>
                    </div> <!--/.card-header -->

                    <div class="card-body p-3">
                        <div class="row">
                        <div class="col-sm-6">
                            <h2>Dear <span class="text-success"> @Model.UserName</span>,</h2>
                            <h4>Your Reservation is Confirmed <span class="text-success">Successfully!</span></h4>
                            <p>We are delighted to inform you that your booking  @Model.PackageName has been successfully processed and confirmed.</p>
                            <!--Booking Details -->
                            <div>
                                <h4> Booking Details </h4>
                                <ul>
                                    <li>Booking Date: @Model.BookingDate!.Value.ToString("dd/MM/yyyy")</li>
                                    <li>Number of People: @Model.NumberOfPeople</li>
                                    <li>Total Price: @Model.TotalPrice</li>
                                 </ul>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <img class="img-fluid" style="height: 300px; width:400px;" src="@Url.Content("~/ui/img/happy-tourist.jpg")" alt="happy-tourist for booking confirmation">
                        </div>
                        </div>

                    </div> <!-- ./ of card-body-->
                    <div class="card-footer">
                        <div class="text-right">
                        <a asp-controller="Packages" asp-action="Index" class="btn btn-outline-success">Explore more</a>
                        </div>
                        </div>
                </div>
            </div>
        @*    <div class="col-md-1"></div>*@


        </div>
    </div>
</section>


